.wa-search-form-wrapper {
	max-width: 100%;
	overflow: hidden;

	.wa-form-wrapper {
		display: flex;
		align-items: center;

		.wa-input-wrapper {
			width: 100%;
			display: flex;
			position: relative;
		}

		input {
			font-size: 16px;
			color: $gray-medium-1;
			padding: 12px 40px 12px 20px;
			background-color: $gray-light-1;
			border: 1px solid $gray-light-1;
			border-radius: 16px 0 0 16px;
			flex-grow: 1;
		}

		.svg-inline--fa {
			color: $gray-medium-1;
		}

		.wa-close-button {
			position: absolute;
			right: calc(20px - 6px);
			height: 100%;
			font-size: 16px;
			background: transparent;
			border: transparent;
			padding: 0;
			color: $gray-medium-1;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.wa-button {
		padding: 12px 24px;
		background-color: $gray-medium-1;
		color: $white;
		border: 1px solid $gray-medium-1;
		border-radius: 0 16px 16px 0;
		line-height: 18px;
	}
}

@media (max-width: $large-tablet) {
	.wa-search-form-wrapper {
		width: 100%;

		.wa-button {
			min-width: 25%;
		}
	}
}

@media (max-width: $large-mobile) {
	.wa-search-form-wrapper .wa-button {
		padding: 12px 28px;
	}
}

@media (max-width: $small-mobile) {
	.wa-search-form-wrapper .wa-button {
		font-size: 16px;
	}
}

@media (max-width: $very-small-mobile) {
	.wa-form-wrapper {
		flex-direction: column;
		gap: 4px;
	}

	.wa-search-form-wrapper .wa-form-wrapper input,
	.wa-search-form-wrapper .wa-button {
		border-radius: 16px;
		width: 100%;
	}
}
