.wa-weather-timeline-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;

	.wa-date-wrapper .wa-text {
		font-size: 1rem;
	}

	.wa-date-wrapper .wa-title {
		margin-bottom: 8px;
	}

	.wa-sun-wrapper {
		.heading {
			display: flex;
			align-items: center;
			gap: 12px;
			margin-bottom: 12px;
		}

		.svg-inline--fa {
			height: 24px;
		}

		.wa-value {
			font-size: 32px;
			gap: 4px;

			.wa-mesure-sign {
				font-size: 20px;
			}
		}
	}
}

@media (max-width: $large-tablet) {
	.wa-weather-timeline-wrapper .wa-sun-wrapper {
		display: flex;
		align-items: center;
		gap: 8px;

		.heading {
			margin-bottom: 0;
			gap: 0;
			align-items: unset;
		}

		.heading::after {
			content: ":";
		}

		.svg-inline--fa {
			height: 16px;
			margin-right: 8px;
		}

		.wa-value,
		.wa-value .wa-mesure-sign {
			font-size: 16px;
		}

		.wa-value {
			gap: 0;
		}
	}
}

@media (max-width: $small-mobile) {
	.wa-weather-timeline-wrapper .wa-sun-wrapper .wa-value {
		color: $gray-medium-1;
	}

	.wa-curreny-content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
