html {
	font-family: "Quicksand", sans-serif;
	background: url("./img/sea.webp") no-repeat center center/cover;
	height: 100vh;
	/* background: #0f0c29;
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */
}
