.wa-app-wrapper {
	background-color: $gray-light-1;

	.wa-app-container {
		display: flex;
		max-width: 1920px;
		margin: auto;
		min-height: 100vh;
	}
}

.wa-container {
	padding: 64px;

	&.wa-search-container {
		width: 440px;
		background-color: $white;
		display: flex;
		flex-direction: column;
		gap: 48px;
	}

	&.wa-highlights-container {
		flex-grow: 1;
	}
}
