.wa-app-wrapper {
	background-color: $gray-light-1;

	.wa-app-container {
		display: flex;
		max-width: 1920px;
		margin: auto;
		min-height: 100vh;
	}
}

.wa-container {
	padding: 64px;

	&.wa-search-container {
		width: 440px;
		background-color: $white;
		display: flex;
		flex-direction: column;
		gap: 48px;
	}

	&.wa-highlights-container {
		flex-grow: 1;
		display: grid;
		gap: 48px;
	}
}

@media (max-width: $medium-laptop) {
	.wa-container {
		padding: 48px 32px;
	}
}

@media (max-width: $large-tablet) {
	.wa-app-wrapper .wa-app-container {
		flex-direction: column;
	}

	.wa-container.wa-search-container {
		width: 100%;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;

		.wa-divider {
			display: none;
		}

		.wa-weather-info,
		.wa-weather-timeline-wrapper {
			width: calc(50% - 24px);
		}

		.wa-weather-info {
			flex-direction: row;
			flex-wrap: wrap;
		}

		.wa-weather-info .wa-location {
			width: 100%;
			justify-content: center;
		}

		.wa-weather-timeline-wrapper {
			background: $gray-light-1;
			border-radius: 16px;
			padding: 32px;
			justify-content: center;
		}
	}
}

@media (max-width: $large-mobile) {
	.wa-container {
		padding: 24px;

		&.wa-search-container {
			gap: 24px;

			.wa-weather-info,
			.wa-weather-timeline-wrapper {
				width: calc(50% - 16px);
			}
		}

		&.wa-search-container .wa-weather-info {
			max-width: 40%;
		}

		&.wa-search-container .wa-weather-timeline-wrapper {
			padding: 24px;
			gap: 16px;
			flex-grow: 1;

			.wa-date-wrapper .wa-title {
				margin-bottom: 0;
				font-size: 22px;
			}
		}

		&.wa-highlights-container {
			display: flex;
			flex-direction: column-reverse;
			padding: 0 24px 24px 24px;
			gap: 24px;
			background: $white;
		}
	}
}

@media (max-width: $small-mobile) {
	.wa-container {
		padding: 24px;
	}

	.wa-container.wa-search-container .wa-weather-timeline-wrapper {
		background: transparent;
		padding: 0;

		.wa-date-wrapper .wa-title {
			font-size: 18px;

			.wa-text {
				font-size: 18px;
				color: black;
			}
		}
	}
}
