.wa-app-wrapper {
	background-color: $gray-light-1;

	.wa-app-container {
		display: flex;
		max-width: 1920px;
		margin: auto;
		min-height: 100vh;
	}
}

.wa-container {
	padding: 64px;

	&.wa-search-container {
		width: 440px;
		background-color: $white;
		display: flex;
		flex-direction: column;
		gap: 48px;
	}

	&.wa-highlights-container {
		flex-grow: 1;
		display: grid;
		gap: 48px;
	}
}

@media only screen and (max-width: $medium-laptop) {
	.wa-container {
		padding: 48px 32px;
	}
}

@media only screen and (max-width: $large-tablet) {
	.wa-app-wrapper .wa-app-container {
		flex-direction: column-reverse;
	}

	.wa-container.wa-search-container {
		width: 100%;
	}
}

@media only screen and (max-width: $large-mobile) {
	.wa-container {
		padding: 32px;
	}

	.wa-container.wa-search-container {
		gap: 32px;
	}
}

@media only screen and (max-width: $small-mobile) {
	.wa-container {
		padding: 24px;
	}

	.wa-container.wa-search-container {
		gap: 24px;
	}
}
