.wa-five-day-forecast {
	overflow: hidden;
}

.wa-table {
	background-color: $white;
	border-radius: 1rem;
	padding: 1rem;
	width: 100%;
	overflow: auto;

	.wa-table-header-wrapper {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid $gray-light-1;
		padding: 16px 0 32px;
		width: max-content;
	}

	.wa-table-row-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 0;
		border-bottom: 2px solid $gray-light-1;
		width: max-content;

		&:last-child {
			padding: 16px 0 0;
			border-bottom: none;
		}
	}

	.wa-table-columns-wrapper {
		display: flex;
		justify-content: space-between;
	}

	.wa-column {
		width: 80px;
		text-align: center;

		&.wa-column-placeholder {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $gray-medium-1;
		}
	}

	.wa-placeholder,
	.wa-column-today {
		min-width: 160px;
	}

	.wa-column-temp {
		width: 168px;
	}

	.wa-img-wrapper {
		display: flex;
		justify-content: center;

		img {
			width: 50px;
			display: block;
		}
	}
}

@media only screen and (max-width: $large-mobile) {
	.wa-five-day-forecast .wa-title,
	.wa-table .wa-table-header-wrapper {
		display: none;
	}

	.wa-table {
		padding: 0;
		overflow: unset;

		.wa-table-row-wrapper {
			flex-direction: column;
			align-items: flex-start;
			width: 100%;

			&:first-child {
				border-top: 2px solid $gray-light-1;
			}

			&:last-child {
				padding: 16px 0;
				border-bottom: 2px solid $gray-light-1;
			}
		}

		.wa-table-columns-wrapper {
			width: 100%;
		}

		.wa-column {
			text-align: left;
		}
	}

	.wa-table .wa-table-body-wrapper .wa-column {
		width: 60px;
		text-align: center;

		&.wa-img-wrapper {
			flex-direction: column;
			align-items: center;

			.wa-text {
				margin-bottom: 0;
			}
		}

		&.wa-column-today {
			width: 100%;
			text-align: left;
		}
	}

	.wa-table
		.wa-table-body-wrapper
		.wa-table-columns-wrapper
		.wa-column:nth-of-type(1),
	.wa-table
		.wa-table-body-wrapper
		.wa-table-columns-wrapper
		.wa-column:nth-of-type(2) {
		display: none;
	}
}
