@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$font-weight-normal: 400;
$font-weight-bold: 700;

body {
	font-family: "Nunito", sans-serif;
}

.wa-value {
	font-family: "Inter", sans-serif;
	font-size: 64px;
	display: flex;
	align-items: flex-start;

	.wa-mesure-sign {
		font-size: 32px;
	}
}

.wa-title {
	font-size: 32px;
}

h1.heading {
	font-size: 1.5rem;
	margin-bottom: 24px;
}

h2.heading {
	color: $gray-medium-1;
}

.wa-text {
	color: $gray-medium-1;
	margin-bottom: 1rem;
}
