@import "./reset";
@import "./theme";
@import "./text";

@import "./components/search-form";
@import "./components/divider";
@import "./components/intro-section";
@import "./components/weather-highlight-card";

.wa-app-wrapper {
	background-color: $gray-light-1;

	.wa-app-container {
		display: flex;
		max-width: 1920px;
		margin: auto;
		min-height: 100vh;
	}
}

.wa-container {
	padding: 64px;
}

.wa-search-container {
	width: 440px;
	background-color: $white;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.wa-weather-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.wa-location {
	display: flex;
	align-items: center;
	gap: 12px;
}

.wa-highlights-container {
	flex-grow: 1;
}

.wa-cards-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.wa-date-sun-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;

	.wa-date-wrapper .wa-text {
		font-size: 1rem;
	}

	.wa-date-wrapper .wa-title {
		margin-bottom: 8px;
	}

	.wa-sun-wrapper {
		.heading {
			display: flex;
			align-items: center;
			gap: 12px;
			margin-bottom: 12px;
		}

		.svg-inline--fa {
			height: 24px;
		}

		.wa-value {
			font-size: 32px;
			gap: 4px;

			.wa-mesure-sign {
				font-size: 20px;
			}
		}
	}
}
