@import "./reset";
@import "./theme";
@import "./text";
@import "./components/search-form";

.wa-wrapper {
	height: 100vh;
	background-color: $gray-light-1;
	display: flex;
}

.wa-container {
	padding: 64px;
}

.wa-search-wrapper {
	min-width: 400px;
	background-color: $white;
}

.wa-cards {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.wa-cards-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.wa-card-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background-color: $white;
	border-radius: 1rem;
	padding: 1rem;
}

.wa-search-form-wrapper {
	display: flex;
}

.wa-input-wrapper {
	display: flex;
	align-items: center;
	position: relative;

	input {
		font-size: 1rem;
		padding: 0.5rem 2.5rem 0.5rem 2rem;
		flex-grow: 1;
	}

	> .svg-inline--fa,
	> button {
		position: absolute;
	}

	> .svg-inline--fa {
		left: 8px;
	}

	> button {
		right: 0;
		height: 100%;
		font-size: 1rem;
		background: transparent;
		border: transparent;
		padding: 0 1rem;
	}
}

.wa-button {
	padding: 0 1rem;
}
